{% extends "base.html" %}
{% block title %}Contact Us - Royal Counseling{% endblock %}
{% block content %}
<section class="contact-hero">
    <div class="contacts-image"></div>
    <div class="contact-content">
        <h1 class="contact-title">Contact Us</h1>
         <p class="mb-4">
                Lead the way to Islamic Concepts of Psychology accompanying Evidence Based Electric
                Approach to create <br> a enduring, sustainable and positive change in our client's life.
            </p>
    </div>
</section>
<section class="contact-section">
  <div class="container">
    <div class="contact-wrapper">
      <div class="contact-form">
        <form method="POST">
          {% csrf_token %}

          <div class="input-group">
            <input type="text" name="name" required>
            <label>Your Name</label>
          </div>

          <div class="input-group">
            <input type="email" name="email" required>
            <label>Your Email</label>
          </div>

          <div class="input-group">
            <input type="text" name="subject">
            <label>Subject</label>
          </div>

          <div class="input-group">
            <textarea name="message" rows="5" required></textarea>
            <label>Your Message</label>
          </div>

          <button type="submit">Send Message</button>
        </form>
      </div>
      <div class="contact-image" data-aos="fade-left"
     data-aos-duration="3000"></div>

      <!-- INFO -->
      <div class="contact-info">
        <h3>Get in Touch</h3>
        <p class="text-dark">Email: support@royalcounseling.com</p>
        <p class="text-dark">Phone: +92 300 1234567</p>

        <!-- WhatsApp -->
        <a href="https://wa.me/923001234567" target="_blank" class="whatsapp-btn">
          Chat on WhatsApp
        </a>

        <div class="contact-socials my-3">
          <a href="#" class="bi bi-facebook mx-2"></a>
          <a href="#" class="bi bi-linkedin mx-2"></a>
          <a href="#" class="bi bi-instagram mx-2"></a>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}